<div class="grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 gap-2">
  @if (intersectionMarketsMap$ | async; as intersectionMarketsMap) {
    @for (intersectionMarket of intersectionMarketsMap.values(); track intersectionMarket.currencyId) {
      <div class="overflow-clip rounded-md shadow bg-neutral-800 p-2">
        <div>
          <img [ngSrc]="intersectionMarket.currencyIconPath" [alt]="intersectionMarket.currencyId" width="14"
               class="inline-block max-h-3.5 me-2" height="14">
          <span>{{ intersectionMarket.currencyName }}</span>
        </div>
        <div>
          <div>اطلاعات در کوکوین:</div>
          <div class="flex justify-between items-center w-full">
            <span>قیمت لحظه‌ای</span>
            <span>{{ intersectionMarket.kucoin.lastTradedPrice }}</span>
          </div>
          <div class="flex justify-between items-center w-full">
            <span>حجم بازار</span>
            <span>{{ intersectionMarket.kucoin.volValue }}</span>
          </div>
        </div>
      </div>
    }
  }
</div>
