@import "colors";

// -------- Colors -----------
// >>> Primary
@primary-color: @purple-base;
@processing-color: @primary-color;
// >>> Info
@info-color: @primary-color;
// >>> Success
@success-color: @green-6;
// >>> Warning
@warning-color: @yellow-6;
// >>> Error
@error-color: @red-5;
@highlight-color: @red-5;
// Background color for `<body>`
@body-background: @neutral-1;
// Base background color for most components
@component-background: @neutral-2;
@font-family: 'Vazirmatn', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';
@text-color: @zinc-1;
@text-color-secondary: @zinc-3;
@text-color-inverse: @zinc-10;
@icon-color-hover: @zinc-2;
@heading-color: @zinc-2;
@font-size-base: 12px;
@font-size-sm: 10px;
@line-height-base: 1.53;
@border-radius-base: 4px;
// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;
// Border color
@border-color-base: @gray-1;
@border-color-split: @gray-2;

@background-color-light: @gray-1;
@background-color-base: @gray-2;

// Rate
@rate-star-color: @amber-5;
@rate-star-size: 12px;
@rate-star-hover-scale: scale(1.1);

// Layout
@layout-body-background: @zinc-8;
@layout-header-background: @zinc-8;
@layout-header-height: 64px;
@layout-header-padding: 0 50px;
@layout-footer-padding: 24px 50px;
@layout-footer-background: @layout-body-background;
@layout-sider-background: @zinc-9;
@layout-trigger-height: 48px;
@layout-trigger-background: @zinc-7;
@layout-trigger-color: @zinc-8;
@layout-zero-trigger-width: 36px;
@layout-zero-trigger-height: 42px;
// Layout light theme
@layout-sider-background-light: @neutral-1;
@layout-trigger-background-light: @neutral-1;
